<div class="content-center bg-dark-blue">
  <div class="bg-login"></div>
  <div class="d-flex align-items-center justify-content-center h-100">
    <form [formGroup]="formLogin" autocomplete="off" novalidate class="col-lg-4 col-md-8 col-sm-12 p-5 bg-white rounded border">
      <p class="f-20 bold">Acesse sua conta</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Login" formControlName="login">
        <invalid-feedback [field]="f.login"></invalid-feedback>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Senha" id="pasword" name="password" formControlName="password">
        <invalid-feedback [field]="f.password"></invalid-feedback>
      </div>
      <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary btn-block" (click)="login()">ENTRAR</button>
      </div>
    </form>
  </div>
</div>

