@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/Light/CoreSansC-35Light.eot"),
    url("../fonts/Light/CoreSansC-35Light.woff") format("woff"),
    url("../fonts/Light/CoreSansC-35Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Core Sans C Regular";
  src: url("../fonts/Regular/CoreSansC-45Regular.eot"),
    url("../fonts/Regular/CoreSansC-45Regular.woff") format("woff"),
    url("../fonts/Regular/CoreSansC-45Regular.woff") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Core Sans C Bold";
  src: url("../fonts/Bold/CoreSansC-65Bold.eot"),
    url("../fonts/Bold/CoreSansC-65Bold.woff") format("woff"),
    url("../fonts/Bold/CoreSansC-65Bold.ttf") format("truetype");
  font-style: medium;
}
