$browser-context: 16;

// status
$primary: #00add2;
$secondary: #C2C2C2;
$white: #FFF;
$gray: #8F8F8F;
$blue: #8DE7E9;
$dark-blue: #091827;
$dark: #4D4D4D;

$success: #4BD963;
$warning: #F3D850;
$error: #DE5151;
$info: #169dff;

$box-shadow: rgba(0, 0, 0, .2) 0px 5px 15px;
